/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    width: 100vw;
    background-color: rgb(17, 17, 17);
}
.scroll-nav{
    z-index: 10;
    width: 100%;
    transition: all 0.3s;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(75, 75, 161);
    padding: -10px;
}
.web-name-logo{
    font-size: 50px;
    color: blue;
}
.li::after{
    content: '';
    border-radius: 20px;
    position: absolute;
transform: translate(-50px , 30px);
    color: blue;
width: 0px;
height: 4px;
background-color: blue;
transition: all 0.4s;
}
.li:hover::after{
    width: 50px;
}
li{
list-style: none;
}
a{
    text-decoration: none; 
    color: white;
    font-size: 17px;
    transition: all 0.2s;
}
a:hover{
    color: rgb(84, 84, 238);
}
.personal-account{
    display: flex;
    gap: 10px;
}
nav{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lists{

    display: flex;
    gap: 50px;
}
.container-navbar{
width: 90%;
height: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.fa-xmark{
    opacity: 0;
}
.fa-bars-staggered{
    opacity: 0;
}
@media (max-width: 750px){
    .li::after{
        display: none;
        content: '';
        border-radius: 20px;
        position: absolute;
    transform: translate(-50px , 30px);
        color: blue;
    width: 0px;
    height: 4px;
    background-color: blue;
    transition: all 0.4s;
    }
    .home::after{
        content: '';
        width: 400vw;
        height: 400px;
        background-color: rgb(10, 10, 10);
      transform: translateY(-200px);
     filter: blur(50px);
    }
    .content{
        position: absolute;
    }

    .fa-bars-staggered{
        opacity: 1;
        cursor: pointer;
    }
    .lists{
        z-index: 2;
        overflow: hidden;
        position: absolute;
        flex-direction: column;
        top: -10px;
        left: 0;
        width: 100%;
        height: 0%;
       background-color: #343f4f;
       margin: 0;
       display: flex;
       align-items: center;
       transition: all 0.5s;
       position: fixed;
       left: 0;
       top: 0;
    }
    li:nth-child(1){
        margin-top: 50px;
    }
    a{
        font-size: 30px;
        text-shadow: 0px  0px 20px;
    }
  a:hover{
    text-shadow:  0 0 0 ;
    color: white;
  }
  .fa-xmark{
    opacity: 1;
    position: absolute;
    top: 50px;
    right: 70px;
    cursor: pointer;
  }
}
.home{
    color: white;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    overflow: hidden;
}
.content , .image {
    max-width: 100vh;
}
.content{
    display: flex;
}
.main-text{
    margin: 150px 60px;
}
.hi{
    font-size: 45px;
    color: rgb(67, 67, 181);
}
.portfilo{
    color: rgb(67, 67, 181);
}
.main-image{
 margin: -80px 100px;
}
.slide-two-info{
    min-height: 100vh;
  gap: 20px;
    background-color: rgb(16, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}
 .person-images{

width: 300px;
height: 300px;
margin: 10px;
background-color: rgb(84, 84, 238);
display: flex;
align-items: center;
justify-content: center;
border-radius: 5px;
}
.content-p {
    height: 400px;
    width: 600px;
color: white;
display: flex;
flex-direction: column;
}
.know-image{
width: 95%;
height: 95%;
object-fit: cover;
border-radius: 5px;
border: 5px solid rgb(16, 15, 15);
}
li{
    cursor: pointer;
}
.simple-slide{
    display: flex;
    gap: 15px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.line{
    width: 520px;
    height: 5px;
    background-color: transparent;
border-radius: 10px;
overflow: hidden;
}
.content-line{
    border-radius: 10px;
    height: 100%;
    width: 80px;
    background-color: rgb(84, 84, 238);
    transform: translateX(150px);
    transition: all 0.3s ;
}
.skills-person{
    margin-top: 20px;
    width: 400px;
}
.person-images{
    opacity: 0;
}
.animate{
    animation-name: animate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.animates{
    animation-name: animates;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.content-p{
    opacity: 0;
}


@keyframes animates {
    0%{
        opacity: 0;
        transform: translateX(300px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: translateX(-300px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.some-model{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.feacher{
    background-color: black;
  
    width: 100vw;
    color: white;
    margin: 0;
}
.parent-item{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
padding: 80px;
}
.apple{
    text-align: center;
    height: 350px;
    width: 300px;
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
    box-shadow: inset  0 0 10px 1px black;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s;
}
.code{
    margin-top: 15px;
}
.apple:hover{
    background-color: rgb(84, 84, 238);
    color: black;
}